{% extends 'base.html' %}

{% block content %}

<h1>Add a song to {{ playlist.name }}</h1>

<form method="POST">
    {{form.hidden_tag()}}
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
    <div class="form-group">
        {{field.label}}
        {{field (class_='form-control')}}

        {% for error in field.error %}
        {{error}}
        {% endfor %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Add song to playlist</button>
</form>

{% endblock %}